* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
  font-size: 1.8rem;
  padding: 2rem;
}

.main-cv {
  display: inline-block;
  border-top: solid 3px #333;
}

header {
  margin-bottom: 1.6rem;
}

section {
  margin-bottom: 2.6rem;
}

h1 {
  color: #000;
  font-size: 3.2rem;
}

h2 {
  color: green;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h3 {
  color: dodgerblue;
  font-size: 2.2rem;
  margin-bottom: 4px;
}

a:link {
  text-decoration: none;
  color: #333;
}

a:visited {
  color: #333;
}

a:hover {
  color: #555;
}

a:active {
  color: #333;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.4rem;
  margin-left: 2rem;
}
